{% extends '::base.html.twig' %}

{% block container %}

<form action="{{ path('_user') }}" method="post" >
	
	<div class="row">
		<label for="fname" class="slot-0">First name:</label>
		<input type="text" class="slot-0" name="fname" id="fname" />
	</div>
	<div class="row">
		<label for="lname" class="slot-0">Last name:</label>
		<input type="text" class="slot-0" name="lname" id="lname"/>
	</div>
	<div class="row">
		<label for="email" class="slot-0">Email:</label>
		<input type="text" class="slot-0" name="email" id="email"/>
	</div>
	<div class="row">
		<label for="username" class="slot-0">Username:</label>
		<input type="text" class="slot-0" name="username" id="username"/>
	</div>
	<div class="row">
		<label for="password" class="slot-0">Password:</label>
		<input type="text" class="slot-0" name="password" id="password"/>
	</div>
	<div class="row">
		<label for="rpassword" class="slot-0">Repeat password:</label>
		<input type="text" class="slot-0" name="rpassword" id="rpassword"/>
	</div>
	<input type="submit" />
	
</form>
	
{% endblock  %}